---
layout: default
---

{% include base_path %}

{% assign show_hero = page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% assign hero_at_bottom = page.header.position == "bottom" or page.header.position == "after" or page.header.position == "after_content" %}
{% if show_hero and hero_at_bottom != true %}
  {% include page__hero.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>

{% if show_hero and hero_at_bottom %}
  {% include page__hero.html %}
{% endif %}
